%h1 A Brief History of the Most Amazing Person on Earth and His Friend Katy

%p In a galaxy that is this one there lived a man named Bobby. Now Bobby was not just an ordinary man, some would say he was extraordinary. Remember far back in your history class of a King named Midas, well Bobby was muse for the idea of King Madas. Bobby had a friend named Katy. Katy was known to all as the Queen of Bunnies and inspired the character Daenerys Targaryen, the Queen of Dragons featured in Game of Thrones. On a first hand account, Katy noted that Bobby drools gold and manages to not wake up from it. A feat thought to be impossible. Katy has been known to only speak accurate truths. Bunnies to this day still say that Katy rules. 
